
 /*START thead NAVBAR command BACKGROUND*/
.BACK .row .col-sm-12{
     background: rgba(0, 0, 1, .9);
     height:150px;
}

.BACK {
   background: url('../PHOTO/amr.jpg')no-repeat center  ;
   background-size:cover;
   height:800px;

}


.container .row .col-sm-4 img{
    width:100px;
    border-radius:103px 10px 103px 103px;
    margin-top:30px;
}



 ul li{
 list-style-type:none;
}
 ul li:hover{
 list-style-type:none;
}

.container .row .col-sm-8 ul  li{
 list-style-type:none;
 margin:50px 60px;
}

.container .row .col-sm-8 ul  li a{

    font-size:15px;
    font-weight:bold;
    color:white;

  border-bottom:rgba(0, 0, 1, 0) solid 2PX;

}


li :hover{
    text-decoration:none;

}

#HOME{
border-bottom:RED solid 2PX;

}
#BORDERLINE{
    transition:0.4s;
}

#BORDERLINE:hover{
    border-bottom:RED solid 2PX;

}

.line {
    display:inline-block;
}


 li {
     list-style-type:none;
   
      }


 
 

   

    .face{
        font-size:30px;
    }

 /*END thead NAVBAR command BACKGROUND*/

/*START thead DISCRAPTION*/
.container .row .col-sm-12 h4{
    text-align:center;
    font-size:50PX;
    padding:80PX;
    font-family:FontAwesome;
    font-style:italic;
}


.container .row .col-sm-6 h3{
    font-family:Courier New, Courier, monospace
}

 .row .col-sm-6 img{
  width:300PX;
}



.PALLAX  {
    background: url('../PHOTO/67596207_2383661641714075_89659611262484480_n.jpg') no-repeat fixed center;
    background-size:cover;
    height:400PX;
    margin-top:10PX;
}




 .container-fluid .END .col-sm-12 {
     background: rgba(0, 0, 1, .9);
       height:250px;

}
 
 
 .container-fluid .END  .col-sm-6  footer{
     margin-top:220PX;
    color:red;

}


